* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

body {
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	font-size: 14pt;
	background-color: #fff;
}

canvas, img { 
	display: block; 
	background-position: center;
 }
 
canvas { 
	background: url(http://student.labranet.jamk.fi/~H8306/a/room1.png);
	background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.room {
	width: 100%;
	height: 100%;
	display: block; 
	background-position: center;
	text-align: center;
}

#reception {
	position: relative;
}

#medical {
	position: relative;
}

#craft {
	position: relative;
}

#math {
	position: absolute;
	top: 10%;
    left: 0;
	margin-left: 15px;
	padding: 20px;
    display: none;
	color: black;
	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
}

#nurse {
	position: absolute;
	top: 20%;
    left: 0;
	padding: 20px;
    display: none;
	background-color: transparent;
}
