* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
	font-size: 14pt;
	background-color: #fff;
}

canvas, img { 
	display: block; 
	background-position: center;
 }
 
canvas { 
	background: url("img/rooms.png");
	background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#btnAnswer
{
	padding: 10px 15px 10px 15px;
	font-size:20px;
	font-weight: bold;
}

#problem 
{
	border: 1px solid black;
	background-color: white;
}

.room {
	width: 100%;
	height: 100%;
	display: block; 
	background-position: center;
	text-align: center;
}

#reception {
	position: relative;
}

#medical {
	position: relative;
}

#craft {
	position: relative;
}

#math {
	position: absolute;
	top: 10%;
    left: 0;
	margin-left: 15px;
	padding: 20px;
    display: none;
	color: black;
	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
	z-index: 100;
}

#mathProblem {
	position: absolute;
	top: 35%;
    left: 20%;
	margin-left: 15px;
	padding: 20px;
	display: none;
	color: black;
	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
	z-index: 100;
}

#mathProblemChoice {
	position: absolute;
	top: 35%;
    left: 20%;
	margin-left: 15px;
	padding: 20px;
	display: none;
	color: black;
	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
	z-index: 100;
}

#nurse {
	position: absolute;
	top: 20%;
    left: 0;
	padding: 20px;
    display: none;
	background-color: transparent;
}

#problem {
	position: absolute;
	top: 15%;
    right: 2%;
	margin-left: 15px;
	padding: 20px;
    display: none;
	color: black;
	background-color: #fff;
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
	z-index: 50;
}

#patient {
	position: absolute;
	top: 20%;
    right: 0;
	padding: 20px;
    display: none;
	background-color: transparent;
}

#info {
	position: absolute;
	bottom: 0;
    left: 0;
	margin: 15px;
	padding: 20px;
    /*display: none;*/
	color: black;
	background: linear-gradient(to top, rgb(204, 230, 255), rgb(179, 218, 255));
	border: 3px solid black;
	border-radius: 30px 30px 30px 30px;
	font-weight:bold;
	z-index: 200;
}

@media screen and (max-height: 900px) and (max-width: 720px) {
	#info 
	{
		display: none;
	}
}

@media screen and (max-height: 460px) {
	#info 
	{
		display: none;
	}
}

#overlay {
	/* overlay that hides the whole page until it's fully loaded */
	position: fixed;
	z-index: 99999;
	background: rgb(29,33,35);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#overlay img {
	/* center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 36px;
    margin-top: 36px;
}